
    <%- include('../partials/head-two') %>

    

    <div class="row">
        <div class="col-md-8 mx-auto">
           <div id="container" class="card">
            <div class="d-flex justify-content-center ">
                  <div id="image">

                  </div>
              </div>
           </div>
        </div>
      </div>

    