
    <!-- NAVBAR WITH RESPONSIVE TOGGLE -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-danger mb-3">
        <div class="container">
            <img src="https://thinkbetterliving.com/wp-content/uploads/2019/11/capacinno.jpg" class="rounded-circle mt-1 mr-2" style="height:50px; width:50px">
            <a class="navbar-brand" href="/robusta/global/">Robusta</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item" class = "logged-in" >
                        <a class="nav-link" class = "logged-in" href="/robusta/global/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class = "logged-in" href="/robusta/global/weather">Weather App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class = "logged-in" href="/robusta/global/services">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>