
    <!-- NAVBAR WITH RESPONSIVE TOGGLE -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-danger mb-3">
        <div class="container">
            <a class="navbar-brand" href="/robusta/global/">Robusta</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/robusta/global/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/robusta/global/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/robusta/global/services">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>